.FormArea {
 

    background-color: rgba(46, 51, 56, 0.5);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 0px 5px #595a5a;
}

.FormArea span{
    font-size: 28px;
    font-weight: bold;
 
}

.formItensArea{
    padding-top: 5px;
    display: flex;
    align-items: center;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.FormItens {
    width: 150px;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.FormItens label {
    margin-bottom: 8px;
}

.FormItens input {
    border-radius: 2px;
    width: 135px;
    padding: 4px;
    outline: none;
    border: none;


  

}


.button {
    width: 120px;
    height: 33px;
    background-color: rgb(216, 8, 95);
    color: white;
    border: none;
    border-radius: 20px;
    margin-top: 8px;
    cursor: pointer;
    

}