.Container{
    
        height: 100%;
        width: 100%;
        /* border: 1px solid red; */
        display: flex;
        align-items: center;
        padding: 38px 40px 38px 0;
        /* background-color:aliceblue; */
    
    
}
.painel{
    height: 100%;
    width: 100%;
    background-color: rgba(46, 51, 56, 0.5);
    box-shadow: 0px 0px 5px #595a5a;
    border-radius: 10px;
    padding: 30px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}