.Container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    /* border: 1px solid red; */
     
}

.cashMovementInformation{
    flex: 2;
    display: flex;
    /* border: 1px solid red; */
    padding: 15px;
   
    
}

.cashMovementItens{
    flex: 2;
    display: flex;
    /* background-color: blue; */
    
}


.winnings{
    width: 100%;
    height: 100%;
    /* border: 1px solid blue; */
    margin-right: 15px;
    padding: 15px;
    background-color: yellowgreen;
    border-radius: 10px;
    height: 100%;
    max-height: 150px;
    color: #fff;
    font-weight: bold;
    /* border: 1px solid red; */
    
}

.losses{
    width: 100%;
    height: 100%;
    /* border: 1px solid blue; */
    background-color: red;
    border-radius: 10px;
    max-height: 150px;
    font-weight: bold;
    padding: 15px;
    color: #fff;
}

.winningsTitle{
    justify-content: space-between;
    display: flex;
    height: 33%;
    /* border: 1px solid red; */
    /* padding: 10px; */
}

.winningsPrice{
    display: flex;
    align-items: center;
    height: 33%;
    /* padding: 10px; */
    /* border: 1px solid blue; */
}

.winningsBarra{
    width: 100%;
    /* height: 100%; */
    background-color: rgb(28, 235, 121);
    background-color: #fff;
    height: 30%;
    border-radius: 10px;
    /* border: 1px solid red; */
    margin-top: 5px;
   
}

/* .winningsBarra::after {
    content: '';
    width: 100px;
    height: 30%;
    background-color: black;
    
} */


 
